{{ define "main" }}
{{ $referrals := where site.RegularPages "Type" "in" site.Params.mainSections }}
<div class="container">
    <div class="row min-vh-100 align-items-center justify-content-center">
        <div class="col text-center">
            {{ if $referrals }}
            <ul class="list-unstyled">
                {{ range $referrals }}
                <li class="d-inline">{{ .Title }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}