{{ define "main" }}
{{ $referrals := where site.RegularPages "Type" "in" site.Params.mainSections }}
<main aria-role="main" class="list">
  <div class="container">
    <h5 id="title" class="border-bottom">{{ .Title }}</h5>
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col text-center">
        {{ if $referrals }}
        <ul class="list-unstyled">
          {{ range $referrals.ByWeight }}
          <li>
            <a href="{{ .RelPermalink }}" class="link-secondary">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</main>
{{ end }}