{{ $title := .Site.Title }}
{{ $type := "profile" }}
{{ $description := .Summary }}
{{ if not $description }}
    {{ $description = "Entrepreneur and Technologist" }}
{{ end }}
{{ $keywords := slice "gregory" "langlais" "entrepreneur" "technology" }}
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MK0NBRK9RP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-MK0NBRK9RP');
    </script>
    <title>{{ $title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ $description }}">
    <meta name="keywords" content="{{ delimit $keywords ", " }}">
    <meta name="dc.relation" content="{{ .Site.BaseURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="gregory langlais">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:type" content="{{ $type }}">
    <meta property="og:description" content="{{ $description }}">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:card" content="summary_large_image">
    {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/main.scss" | toCSS  $options | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
    <link rel="manifest" href="/site.webmanifest">
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>